@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 20px;
    line-height: 120%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
  }

  /* body style */
  body{
    background: linear-gradient(45deg,#d6cff9, rgb(240, 185, 221));
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  /* topnav style */
  .topnav {
    background-color: #9487cf;
    position:absolute;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  /* Navbar links */
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
  }
  /* topnav hover */
  .topnav a:hover {
    background-color: #bd98cc;
    color: black;
  }

/* hero image */
.hero{
    width: 100%;
    height: 90%;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
}
.hero-img{
  display: block;
  width: 100%; 
  filter: blur(3px);
}

/* h1 style */
h1{
  position: relative;
  font-family:'Times New Roman', Times, serif;
  color:#e65c98;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
/* service section */
#service{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

/* all images within service section */
#service img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: .5s ease;
  opacity:1;
}
#service::after {
  content: "";
  width: 350px;
}
#service img:hover{
  opacity: 0;
}

/* h2 */
h2{
  display: flex;
  justify-content: center;
  font-family:'Times New Roman', Times, serif;
  color:#e65c98;
  font-size: 30px;
  left: 3%;
  font-weight: bold;
}
/* form style */
.form{
    color: white;
    padding: 10px 0 0 5px;
    margin: auto ;
    border:solid 1px #9487cf;
    width: 40%;
    background-color:#bd98cc;;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 2rem; 
}
label{
    display: flex;
    justify-content: left;
    padding:4px 4px;
    margin-top: 4%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
input{
    display: flex;
    padding:4px 2px;
    width: 80%;
    margin: auto ;  
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 1rem;
}
/* submit style */
#submit{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: fit-content;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #7660d5;
    font-weight: bold;
}

footer{
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  background:  #9487cf;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
p{
  text-align: center;
}