* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 20px;
    line-height: 120%;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
  }

  body{
    background-color: #f2e3fb;
    width: 100%;
  }
  .topnav {
    background-color: #9487cf;
    position:absolute;
    right: 0;
  }
  
  /* Navbar links */
  .topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .topnav a:hover {
    background-color: #bd98cc;
    color: black;
  }
/* hero image */
.hero{
    position: relative;
    width: 100%;
    height: 90%;
    background: url(hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(70%);
}

